[YahooJapanMail]
; 受信メール（IMAP）
imap_server = imap.mail.yahoo.co.jp
imap_ssl    = SSL
imap_port   = 993
; 受信メール（POP）
pop_server  = pop.mail.yahoo.co.jp
pop_ssl     = SSL
pop_port    = 995
; 送信メール（SMTP）
smtp_server = smtp.mail.yahoo.co.jp
smtp_auth   = SMTP_AUTH
smtp_ssl    = SSL
smtp_port   = 465
; アカウント情報（アカウント名/ログイン名 = Yahoo! JAPAN ID）
username    = your_yahoo_japan_id
email       = your_address@ymail.ne.jp
password    = your_password
; オプション：ESPホワイトリスト（カンマ区切り）
; 信頼できる送信サービス（Return-Path と From が一致しない場合があるもの）を登録
esp_whitelist = mpse.jp, amazonses.com, sendgrid.net, mcsv.net, rsgsv.net, mktomail.com, salesforce.com, exacttarget.com, m-msg.jp, msg-m.jp, bmsend.com, benchmarkemail.com, hubspot.com, hubspotemail.net, cmail1.com, shopify.com, mandrillapp.com, mailgun.org, postmarkapp.com, constantcontact.com, brevo.com, combzmail.jp, itm-asp.com, customer-s.jp, yahoofp.jp, mail-mag.jp
; オプション：迷惑メールフォルダ名（空の場合は自動検出）
; junk_folder = Bulk Mail
